<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.besolutions.seven">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">


        <activity android:name=".ScenarioSeven.Controllers.Activities.Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ScenarioSeven.Controllers.Activities.Sign_up" ></activity>
        <activity android:name=".ScenarioSeven.Controllers.Activities.Sign_In"></activity>
        <activity android:name=".ScenarioSeven.Controllers.Activities.MainActivity"></activity>
        <activity android:name=".ScenarioSeven.Controllers.Activities.ItemMainFragment"></activity>
    </application>

</manifest>